# SQL and SQLite

- what is sqlite?
    - This is serverless,self contained and zero configuration database engine used DBMS

- What is server and why is it needed ?
    - Lets assume you have toy box and you wish your friends to access this toy box whenever they need them.
    - So, we are placing this toy box on the next room, where your friend could access at anytime.
    - Taking this analogy, Server is needed when collaboration with others are needed. So, they can pick up data, apps,website and other informations whenever they need it.

In [1]:
import sqlite3

In [31]:
## connect to an sqlite database
connection = sqlite3.connect('sample.db')   #  created an database with name sample.db
connection

In [32]:
# Cursor is needed to parse over all the rows and columns of the data
cursor = connection.cursor()

In [36]:
# once the database is in place and cursor is read to execute the given information on rows and columns
cursor.execute('''
    Create table if not exists employees(
                                        id Integer Primary Key,
                                        name text not null
                                        , age Integer 
                                        , dept text
                                        )


''')

## commit the change
connection.commit()

In [37]:
cursor.execute('''
select * from employees
''')  # connection is successful

- Inserting data into the database

In [38]:
cursor.execute('''
Insert into employees(name,age,dept)
               values("Tony", 32,'Physics')
''')

cursor.execute('''
Insert into employees(name,age,dept)
               values("Hulk", 36,'Biotech')
''')

cursor.execute('''
Insert into employees(name,age,dept)
               values("Thor", 37,'Cosmology')
''')


# committing the inserted data
connection.commit()

OperationalError: database is locked

- Querrying the inserted data

In [25]:
cursor.execute(''' select * from employees ''')
rows = cursor.fetchall()    # fetching all the rows of db

# printing queried data
for row in rows:
    print(row)

(None, 'Tony', 32, 'Physics')
(None, 'Hulk', 36, 'Biotech')
(None, 'Thor', 37, 'Cosmology')
(None, 'Tony', 32, 'Physics')
(None, 'Hulk', 36, 'Biotech')
(None, 'Thor', 37, 'Cosmology')
(None, 'Tony', 32, 'Physics')
(None, 'Hulk', 36, 'Biotech')
(None, 'Thor', 37, 'Cosmology')

In [40]:
cursor.execute("""Drop sample.db""")

OperationalError: near "sample": syntax error